<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style lang="">
        .active a{
            color: #000;
        }
        img{
            width: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="/">相册/</a>
            </li>
            <li role="presentation">
                <a href="/up">上传</a>
            </li>
        </ul>
        
        <div class="row">
            <% for(var i=0; i<images.length; i++){ %>
                <div class="col-xs-6 col-md-3">
                    <img src="<%= images[i] %>" alt="...">
                </div>
            <%}%>
        </div>
    </div>
    
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>